!!!
%html{:lang => "en"}
  %head
    %meta{charset:"utf-8"}/
    %meta{:'name'=>'viewport', :'content'=> 'width=device-width'}/
    %link{src:'style/normallize.css'}
    %link{src:'style/main.css'}/
    %title Women's blog
  %body
    %header.header
